<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bigo快跑</title>
</head>
<body>
<form action="#" th:action="@{/login}" th:object="${loginVO}" method="post">
    <table>
        <tr>
            <td>账号：</td>
            <td><input type="text" th:field="*{loginName}"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="登录"/>
            </td>
            <td colspan="2">
                <input type="reset" value="重置"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>