<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jokey.bingo.red.packet.mapper.RedDetailMapper">

    <resultMap id="baseResult" type="com.jokey.bingo.red.packet.entity.RedDetail">
        <id column="id" property="id"/>
        <result column="record_id" property="recordId"/>
        <result column="amount" property="amount"/>
        <result column="is_active" property="isActive"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>