<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VUE</title>

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    {{message}}
    <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>

    <p v-if="seen">现在你看到我了</p>

    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>

    <button v-on:click="reverseMessage">你转消息</button>
</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            seen: true,
            todos: [
                {text: '学习 JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛项目'}
            ]
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse();
            }
        }
    })
</script>
</body>

</html>